body {
  background: #0A1C3A;
  background-image: url('../images/background4.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.nav-item a:hover {
  color: #FF770E !important;
}


.banner-image {
  background-image: url('../images/jokerr.png');
  background-size: cover;
  background-position: center center;
}

.btn-primary {
  background-color: #FF770E !important;
  border-color: #FF770E !important;
}




.membership_main{
  background-color: black;
}

.membership_banner{
  height: 600px;
}

.membership_banner img{
  height: 100%;
}

