body {
  background: url('../images/background.jpg') no-repeat center center fixed;
  min-height: 100vh;
}

/* -------------------- NAVBAR CSS -------------------- */
.navbar {
  transition: all 0.4s;
}

.navbar-nav a {
  font-family: 'Playfair Display', serif;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #FF770E;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #FF770E;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #0E141B;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #fff;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #FF770E;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #FF770E;
}

/* Change navbar styling on small viewports */
@media (max-width: 990px) {
  .navbar {
    background: #0E141B;
  }

  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #fff;
  }
}
/* --------------------------------------------------- */


/* Home Page CSS */
.banner-image {
  background-image: url('../images/jokerr.png');
  background-size: cover;
  background-position: center center;
}

.btn-primary {
  background-color: #FF770E !important;
  border-color: #FF770E !important;
}

/* About Us Page CSS */
.l-title {
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
  color: #FF770E;
}

.l-contactbg {
  background: url('../images/lcinema.jpg') no-repeat center center fixed;
  min-height: 100vh;
}

.l-conform {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-bottom: 30px;
}

/* contact us form css */
.l-card {
  margin-bottom: 80px;
}


textarea[name="message"] {
  resize: none;
}

#e-mail {
  height: 45px;
}

#message {
  height: 120px;
}

input.input-box,
textarea.input-box {
  background-color: #616161;
  border: #616161;
  color: #BDBDBD;
}

input.input-box:focus,
textarea.input-box:focus {
  background-color: #000000;
  color: #BDBDBD;
}

form .form-control::-webkit-input-placeholder {
  color: #9E9E9E;
}

::-moz-placeholder {
  color: #9E9E9E !important;
}

input.btn-purple {
  padding: 10px 50px;
  background-color: #FF770E;
  color: #ffffff;
}
/* --------------------- END OF FORM CSS --------------------- */
